header{
    position: fixed;
    top: 0;
    height: 90px;
    width: 100%;
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    background-color: rgb(33, 32, 32);
    color: rgb(96, 193, 63);
    z-index: 999;
}
header .header-title{
    font-size: 16px;
}
.btn-container{
    display: flex;
    gap: 30px;
}
.cart-icon-container{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #eee;
}
.cart-btn{
    width: 100%;
    height: 100%;
    font-size: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: black;
}
.qty{
    position: absolute;
    background-color: rgb(66, 186, 26);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    top: -7px;
    right: -7px;
}

@media screen and (max-width: 500px) {
    header{
      padding: 0 20px;
    }
    header .header-title{
        font-size: 12px;
    }
    .btn-container{
        gap: 20px;
    }
    .cart-icon-container{
        width: 35px;
        height: 35px;
    }
    .cart-btn{
        width: 100%;
        height: 100%;
        font-size: 18px;
    }
    .qty{
        width: 20px;
        height: 20px;
    }
}