:root{
    --primary-color: #FFF;
    --secondary-color: #CCCCCC;
    --blue-color: rgb(48, 83, 198);
}
.sidebar-main-container{
    width: 20%;
    height: 100vh;
    background-color: #2d2b2b;
    padding: 140px 20px 140px 20px;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.filter-title{
    margin-bottom: 20px;
    color: var(--secondary-color);
}
.category-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}
.category-container button{
    padding: 10px 10px;
    border: none;
    background-color: var(--blue-color);
    color: var(--primary-color);
    font-size: 16px;
    width: auto;
    cursor: pointer;
    border-radius: 10px;
}
.sidebar-title{
    font-size: 35px;
    color: var(--primary-color);
    text-align: left;
    font-family:'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-weight: 100;
}
.In-stock div{
    display: flex;
    align-items: center;
    gap: 15px;
}
.In-stock div input{
    width: 20px;
    height: 20px;
}
label{
    color: var(--blue-color);
}
.sort-by-price-container{
    display: flex;
    align-items: center;
    gap: 20px;
}
.sort-by-price-container div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.sort-by-price-container div input{
    width: 16px;
    height: 16px;
}
.clear-all-filter{
    width: 100%;
    padding: 15px;
    background-color: rgb(247, 56, 56);
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

@media screen and (max-width: 1400px) {
    .sidebar-main-container{
        padding: 20px 20px 20px 20px;
        width: 300px;
        position: absolute;
        top: 0;
        left: 400px;
        z-index: 1000;
        display: none;
        transition:  0.9s ease-in-out;
    } 
    .sidebar-main-container.active{
        display: block;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    } 
}

@media screen and (max-width: 500px) {
    .category-container{
        gap: 10px;
    }
    .category-container button{
        font-size: 13px;
    }
    .sidebar-title{
        font-size: 28px;
    }
    .filter-title{
        font-size: 15px;
        margin-bottom: 15px;
    }
    .In-stock div input{
        width: 15px;
        height: 15px;
    }
    label{
        font-size: 14px;
    }
    .clear-all-filter{
        padding: 15px;
        font-size: 14px;
    }
}