*{
  margin: 0;
  scroll-behavior: smooth;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
